[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/plugin-ctrlp"]
	path = vim/bundle/plugin-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/plugin-delimitmate"]
	path = vim/bundle/plugin-delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/plugin-neocomplcache"]
	path = vim/bundle/plugin-neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/bundle/plugin-nerdtree"]
	path = vim/bundle/plugin-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/plugin-phpcomplete"]
	path = vim/bundle/plugin-phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/bundle/plugin-airline"]
	path = vim/bundle/plugin-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/plugin-syntastic"]
	path = vim/bundle/plugin-syntastic
	url = https://github.com/scrooloose/syntastic.git
